@model List<Analyzer.Utilities.Models.ResponseModel>

@{
    ViewBag.Title = "Analyzed Content";
}

<h2>Content</h2>


@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Author
            </th>
            <th>
                Publish Date
            </th>
            <th>
                Url
            </th>
            <th>
                Description
            </th>
            <th>
                Words
            </th>
            <th>
                Tags
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.ActionLink("Show full content", "ShowHtml", new { itemUrl = item.url }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.excerpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.word_count)
            </td>
            <td>
                @Html.ActionLink("Show html tags statistics", "ShowChart", new { itemUrl = item.url }, new { target = "_blank" })
            </td>
        </tr>
    </table>

}

