@model Analyzer.Web.ViewModels.TagStatisticViewModel

@{
    ViewBag.Title = "Analyzed Content";
}

<h1>Html tags statistics</h1>

<h4> 10 most used tags </h4>
<table class="table">
    <tr>
        <th>
            Tag Name
        </th>
        <th>
            Number of occurrences
        </th>
        <th>
            Percentage in all of occurrences
        </th>
    </tr>
    @{
        foreach (var item in Model.TopTags)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
                <td>
                    @(item.Value/Model.TagsCount*100) %
                </td>
            </tr>
        }

    }
</table>

<h4> Rest of tags used on analyzed site </h4>
<table class="table">
    <tr>
        <th>
            Tag Name
        </th>
        <th>
            Number of occurrences
        </th>
        <th>
            Percentage in all of occurrences
        </th>
    </tr>
    @{
        foreach (var item in Model.RestTags)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
                <td>
                    @(item.Value / Model.TagsCount * 100) %
                </td>
            </tr>
        }
    }
</table>